<!DOCTYPE html>
<html  ng-app="moonshine.authexample">
  <head>
    <meta charset="utf-8">
    <title>Moonshine example Authentication app</title>
    <script	src="lib/angular.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/restangular.min.js"></script>
	<script src="lib/angular-ui-router.min.js"></script>
    <script src="js/user.authentication.js"></script>
    <script src="js/moon.angular.js"></script>
    <script src="js/user.local.js"></script>
    <script src="index.js"></script>

	<script type="text/ng-template" id="home.html">
		<div>
			You are inside the home route.
			<div ng-show="authentication.isAuthenticated">You are logged in as {{user.name}} (username:{{user.username}})</div>
			<div ng-hide="authentication.isAuthenticated">But you are not logged .</div>
		</div>
    </script>
    <script type="text/ng-template" id="logout.html">
      <div>
		  You are inside the logout route.<br/>
          Are you sure you want to logout?<br/>
          <button type="submit" ng-click="logout()">yes</button>
          <button type="submit" ng-click="cancelLogout()">cancel</button>
    </script>
	<script type="text/ng-template" id="register.html">
		You are in the register route. <br/>
			<div ng-hide="state == 'waiting'">status: {{state}}</div>
			<div ng-show="authentication.nextLocation != '/' && authentication.nextLocation != '/login'">
				You arrived here from {{authentication.nextLocation}} route.
			</div>
			Register:<br/>
			<div style="margin-left:20px">
				username:<input type="text" ng-model="user.username"/><br/>
				password:<input type="text" ng-model="user.password"/><br/>
				name:<input type="text" ng-model="user.name"/><br/>
				rememberMe:<input type="checkbox" ng-model="user.rememberme"/><br/>
				<button type="submit" ng-click="register()">register</button>
			</div>
			<br/>
			Or go to <a href="#/login">login</a>
    </script>
	<script type="text/ng-template" id="login.html">
		<div>
			You are in the login route. <br/>
			<div ng-show="authentication.nextLocation != '/' && authentication.nextLocation != '/login'">
				You arrived here from {{authentication.nextLocation}} route.
			</div>
			<div ng-hide="state == 'waiting'">status: {{state}}</div>
			Login:<br/>
			<div style="margin-left:20px">
				username:<input type="text" ng-model="user.username"/><br/>
				password:<input type="text" ng-model="user.password"/><br/>
				rememberMe:<input type="checkbox" ng-model="user.rememberme"/><br/>
				<button type="submit" ng-click="login()">login</button>
			</div>
			<br/>
			Or go to <a href="#/register">register</a>.
		</div>
    </script>
  </head>
<body>
<div ng-controller="MainCtrl">
	<div style="margin-bottom:20px">
	Navigation:
		<a ng-hide="authentication.isAuthenticated" href="#/login">Signup/Login</a>
		<a ng-show="authentication.isAuthenticated" href="#/logout">Logout</a>
		<a href="#/home">Home</a>
		<a href="#/secured">Secured</a>
	</div>
	<div ui-view style="margin-left:40px;border:2px solid; width:500px; height:300px;"></div>
</div>
</body>
</html>